<!-- <nav id="navbar-main" style="padding-left:0%;" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"> -->
  <nav style="background-color: rgb(62, 66, 119);" id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div style="padding-left: 4%;">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img style="height: 80px;"  src="assets/img/LogoCinex.png">
      </a>
   
    </div>
  </nav>
  