.footer {
    // padding: 0.4rem 0;
    background: #ffffff
}

.footer .col-footer .heading {
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #8898aa
}